.vscode/**
.vscode-test.mjs
src/**
build_vsix.py
build_vsix_tmon.py
old_ikon/**
tsconfig.json
esbuild.js
eslint.config.mjs
vsc-extension-quickstart.md
.gitignore
*.map
out/**
**/*.map
bun.lock
bun.lockb
package-lock.json
node_modules/**
.github/**
**/.DS_Store
